<!DOCTYPE html>
 <html>
     <body>
         <center>
             <h1>Change Email Preferences</h1>
             <form action="/action_page.php">
                 <input type="checkbox" name="sendEmails" value="send">Send me email notifications.<br>
                 <h2>Change email</h2>
                 <input type="text" name="current" placeholder="Current Email"><br>
                 <input type="text" name="new" placeholder="New Email"><br>
                 <input type="submit" value="Change!">
             </form>
         </center>
     </body>
 </html>