<html>
  <link href="../static/css/home.css" rel="stylesheet" type="text/css">
  <div class="row">
    <div class="column">
      <div class="card">
        <font size="18">
          <p style="text-align:left;">
             Balance
            <span style="float:right;">
              {% if balance < 0 %}
                <a href="/tutorial">Weird flex but OK</a>
              {% else %}
                <b>${{balance}}</b>
              {% endif %}
            </span>
          </p>
          <p style="text-align:left;">
            Expiration
            <span style="float:right;">
              In <b>{{daysLeft}}</b> days.
            </span>
          </p>
        </font>
      </div>
    </div>
  </div>
</html>
