<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="../static/css/home.css" rel="stylesheet" type="text/css">
  <link href="../static/css/jumbotron.css" rel="stylesheet">
  <header>
    <div class="jumbotron" height="300px">
      <nav role="navigation">
        <div id="menuToggle">
          <!--
            A fake / hidden checkbox is used as click reciever,
            so you can use the :checked selector on it.
          -->
          <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
          <!--
            Too bad the menu has to be inside of the button
            but hey, it's pure CSS magic.
          -->
          <ul id="menu">
            <a href="\home"><li>Home</li></a>
            <a href="suggestions.html"><li>Spending Suggestions</li></a>
            <a href="locations.html"><li>Locations & Availability</li></a>
            <a href="\suggestions"><li>Settings</li></a>
          </ul>
        </div>
      </nav>
      <center>
        <h1>Settings</h1>
      </center>
    </div>
  </header>
  <body>
    <center>
      <h1>Change Password</h1>
        <form action="/action_page.php">
          <input type="password" name="old" placeholder="Old Password"><br>
          <input type="password" name="new" placeholder="New Password"><br>
          <input type="password" name="confirm" placeholder="Confirm New Password"><br>
          <input type="submit" value="Submit">
        </form>
      <h1>Change Email Preferences</h1>
      <form action="/action_page.php">

        <input type="checkbox" name="sendEmails" value="send"
          {% if sendEmails %}
            checked
          {% endif %}
        >Send me email notifications.<br>
        <input type="checkbox" name="sendTexts" value="send"
        {% if sendTexts %}
          checked
        {% endif %}
        >Send me text notifications.<br>
          <h2>Change email</h2>
          <input type="text" name="current" placeholder="Current Email"><br>
          <input type="text" name="new" placeholder="New Email"><br>
          <input type="submit" value="Change!">
      </form>
    </center>
  </body>
</html>
