<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../static/images/favicon.ico">

    <title>Flex Tracker</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../static/css/signin.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <form method="post" class="form-signin">
       <center>
          <h2 class="form-signin-heading">Flex Tracker Sign In</h2>
        {% csrf_token %}
        {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        {% endfor %}
        </p>
        <hr></hr>
        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
      </form>
      <hr></hr>
      <a class="btn btn-primary" href="/accounts/signup/">Sign up</a>
    </center>
    </div>
  </body>
</html>